* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  color: #fff;
  font-family: 'MuseoModerno', sans-serif;
  background: #009fff;
  background: linear-gradient(to right, #ec2f4b, #009fff);

}
.modal-scroll{
  overflow: hidden;
}
.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: all 0.05s ease-in-out;
}
.modal.hidden {
  visibility: hidden;
  opacity: 0;
}
.modal__form {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #1877a1;
  width: 30%;
  border-radius: 10px;
}
.form_error{
  position: absolute;
  font-size: 16px;
  top: -100px;
}
 .modal__title {
  letter-spacing: 0.3rem;
  font-weight: bold;
}
 .modal__user,
 .modal__password {
  border: none;
  background-color: inherit;
  color: inherit;
  width: 250px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid #1877a1;
}
.modal__button {
  padding: 0.3rem 2rem;
  background-color: inherit;
  border: 2px solid #1877a1;
  color: inherit;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
 .modal__button:hover {
  background-color: #1877a1;
}
.modal__movie {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  max-height: 600px;
  overflow: auto;
  height: auto;
  width: 60%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.05s ease-in-out;
  z-index: 10;
  left: 50%;
  top: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  
}
.modal__movie.active {
  visibility: visible;
  opacity: 1;
  
}
.modal__movie .container__movie_modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .img_modal {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.country_movie,
.year_movie,
.genre_movie,
.argument_movie{
 font-size: 12px;
}
.img_movie {
  width: 100%;
  margin: auto;
}
.info_modal {
  width: 50%;
  margin: 1rem;
}
.close_modal{
  align-self: flex-start;
  padding: .1rem;
  cursor: pointer;
}
.nav__main {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: .5rem .5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  margin-top: 2rem;
}
 .logo{
  width: 100%;
  max-width: 100px;
  margin-bottom: 1rem;
}
.user_logged {
  text-decoration: none;
  margin-right: 1rem;
  align-self: center;
  font-family: 'MuseoModerno';
  border:none;
}


.user_favorites {
  color: inherit;
  border: 2px solid transparent;
  text-decoration: none;
  margin-right: 1.5rem;
  opacity: 0;
  visibility: hidden;
}
.fav{
  color: #ffee22;
  
}

.user_favorites.active{
  opacity: 1;
  visibility: visible;
}
.user_favorites:hover {
  border-bottom: 2px solid #fff;
}
 .user_logout {
  color: inherit;
  border: 2px solid transparent;
  text-decoration: none;
}
.user_logout:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.head {
  text-align: center;
  letter-spacing: 0.3rem;
}

.searchOMDB {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
 .searchOMDB__input {
  width: 80%;
  color: inherit;
  font-size: inherit;
  letter-spacing: 0.1rem;
  padding: 0.3rem 0.2rem;
  border: none;
  border-bottom: 3px solid #1e5b54;
  background-color: inherit;
  outline: none;
}
.resultOMDB,
.list__favorites {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: baseline;
}
.movie_container {
  width: 200px;
  
  
}
.container_img {
  opacity: 1;
  position: relative;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

.container_img:hover {
  opacity: 0.8;
  transform: scale(0.98);
}

.details_movie {
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.02rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 1;
  font-size: 16px;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

 .movie_img {
  position: relative;
  width: 100%;
  margin: auto;
}

 .movie_body {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.2rem 0.5rem;
}

 .movie_title {
  font-size: 13px;
}

.movie_favorite {
  font-size: 24px;
  cursor: pointer;
}

 .movie_favorite.fav {
  color: #ffee22;
  font-size: 24px;

}

 .movie_favorite.fav.select{
  animation: click both .2s linear;
}

/***Favorites**/
.nav__fav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: .5rem;
}
.nav__icon{
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.user_logged{
  font-size: 30px;
  font-family: 'roboto';
}



@media screen and (max-width: 1000px){
  .modal__form{
    width: 70%;
    
  }
}
@media screen and (max-width: 350px){
  .modal__form{
    width: 90%;
    
  }
  .modal__form .modal__user,
  .modal__form .modal__password{
    width: 200px;
    
  }
}


@keyframes click {
  0% { scale: .2; }
  50% { scale: .3;}
  50% { scale: .6; }
  100% {  scale: 1; }
}